.DS_Store
CartSquad.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
CartSquad.xcodeproj/xcuserdata/justin.xcuserdatad/xcdebugger/
CartSquad/CartSquadPalette.clr
CartSquad/GoogleService-Info.plist

